/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", serif;
} 



@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translate(0%);
    }
}
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translate(-100%)
    }
}

.animate-scroll-right {
    display: flex;
    animation: scroll-right 15s infinite  linear;
}
.animate-scroll-left {
    display: flex;
    animation: scroll-left 15s infinite  linear;
}

